:root {
  --main-color: #764220;
  --second-color: #000000;
  --third-color: #ffffff;
  --fourth-color: #c04e23;
  --fifth-color: #17b99e;
  --six-color: #c6a82c;
  --background-color-filter: rgba(180, 180, 180, 0.2);
  --placeholder-color: #a1a1a1;
}
@media (max-width: 992px) {
  .nav-link {
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
    height: fit-content;
    display: inline-block;
    width: fit-content;
    z-index: 1;
    overflow: hidden;
    color: var(--main-color) !important;
  }

  .img-contact {
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .hero-slider .hero-slider-content {
    position: absolute;
    top:30%;
    z-index: 2;
    color: white;
    transition: all 0.5s;
    border-radius: 10px;
    max-width: 500px;
  
  
  }
  .hero-slider .hero-slider-content h1 {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: bolder;
  }
  .hero-slider .hero-slider-content h3 {
    font-size: 1.3rem;

  }
 
  .hero-slider .hero-slider-content p {
    line-height: 1.8;
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  .nav-link {
    color: var(--third-color);
  }
  .img-contact {
    padding: 40px;
  }
  .img-contact img {
    height: 400px !important;
    width: 100% !important;
  }
  .hero-slider .hero-slider-content {
    position: absolute;
    top:35%;
    z-index: 2;
    color: white;
    transition: all 0.5s;
    border-radius: 10px;
    max-width: 500px;
  
  
  }
  .hero-slider .hero-slider-content h1 {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: bolder;
  }
}
@media (min-width: 1200px) {

  .img-contact img {
    height: 400px ;
    width: 100% !important;
  }
 
}
