:root {
  --main-color: #764220;
  --second-color: #000000;
  --third-color: #ffffff;
  --fourth-color: #c04e23;
  --fifth-color: #17b99e;
  --six-color: #c6a82c;
  --background-color-filter: rgba(180, 180, 180, 0.2);
  --placeholder-color: #a1a1a1;
}
@media (max-width: 992px) {

  .nav-link {
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
    height: fit-content;
    display: inline-block;
    width: fit-content;
    z-index: 1;
    overflow: hidden;
    color: var(--main-color) !important;
  }
}
@media (max-width: 768px) {

}

@media (min-width: 992px) {

.nav-link{
  color: var(--third-color);
}
}
