:root {
  --main-color: #764220;
  --second-color: #000000;
  --third-color: #ffffff;
  --fourth-color: #c04e23;
  --fifth-color: #17b99e;
  --six-color: #c6a82c;
  --background-color-filter: rgba(180, 180, 180, 0.2);
  --placeholder-color: #a1a1a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  /* color: inherit; */
}
body {
  font-family: "Cairo", sans-serif;

  background-image: url("../images/wooden-background.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.text-xl {
  font-size: 8rem;
}
.text-lg {
  font-size: 3rem;
}
.text-md {
  font-size: 2.2rem;
}
.text-sm {
  font-size: 1.5rem;
}
.main-color {
  color: var(--main-color);
}
.fourth-color {
  color: var(--fourth-color);
}
.fifth-color {
  color: var(--fifth-color);
}
.six-color {
  color: var(--six-color);
}

.btn-wood {
  background-color: var(--fourth-color);
  transition: all 0.3s ease-in;
  color: var(--third-color);
  padding: 0.5rem 2rem;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 17px;
}
.btn-wood:hover {
  background-color: #e45622;
  color: var(--third-color);
}
.bg-filter {
  background-color: var(--background-color-filter);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}
.read-more {
  width: fit-content;
  padding: 1px 20px !important;
}
/* navbar */
header {
  position: relative;
  /* overflow: hidden; */
}
header .overlay {
  background-color: var(--background-color-filter);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar {
  transition: background-color 0.4s ease, box-shadow 0.4s ease,
    padding 0.4s ease;
  background-color: transparent;
  box-shadow: none;
  /* overflow: hidden; */
  z-index: 99;
}

.navbar-scrolled {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
  position: relative;
  cursor: pointer;
}
.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
  height: fit-content;
  display: inline-block;
  width: fit-content;
  z-index: 1;
  overflow: hidden;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: var(--background-color-filter);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--third-color);
}

.nav-link:hover::before {
  opacity: 1;
}
.dropdown-show {
  position: relative;
  transition: all 0.3s ease-in;
}

.dropdown-menu {
  top: 100%;
  right: 0%;
  width: 100%;
  height: auto;
  transform: translateY(-20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
  z-index: 99;
  display: block; /* موجود دائمًا */
  pointer-events: none;
  opacity: 0;
}

/* لما أحط hover على العنصر اللي فيه الرابط والقائمة */
.dropdown-show:hover .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.text-slider p {
  max-width: 800px;
  line-height: 1.8;
}
/* Social icon  */
.social-icon a {
  background-color: var(--fifth-color) !important;
  color: var(--third-color);
  padding: 0.5rem;
  border-radius: 50%;
  margin: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: none;
}
.social-icon a:hover {
  font-weight: bold;
  transform: scale(1.11);
}

/* hero-slide */
.hero-slider {
  height: calc(100vh - 102px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-slider .text-slider h1 {
  font-size: 4rem;
  color: var(--third-color) !important;
  font-weight: bold !important;
}

.hero-slider .item {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.hero-slider .item img {
  animation: zoomInOut 5s ease-in-out infinite;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.hero-slider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-slider .hero-slider-content {
  position: absolute;
  top: 35%;
  z-index: 2;

  color: white;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  border-radius: 10px;
  max-width: 500px;
  padding: 40px 20px;
}

.hero-slider .hero-slider-content h1 {
  color: var(--third-color);
  text-transform: uppercase;
}
.hero-slider .hero-slider-content p {
  line-height: 1.8;
  font-size: 1.2rem;
}
.hero-slider .hero-slider-content .btn-about {
  background-color: var(--fourth-color);
  color: var(--third-color);
  padding: 0.5rem 2rem;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}
.hero-slider .hero-slider-content .btn-about:hover {
  background-color: #e45622;
}
.title-text {
  font-size: 3rem;
  line-height: 1.6;
  font-weight: bolder;
}

.hero-slider-pages {
  width: 100%;
  height: 100%;
}
/* ############################################## */
/* about */
.row-about {
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.img-contact {
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 100%;
  height: 100%;
}

.img-contact::after {
  content: "";
  position: absolute;
  inset: 20px;
  z-index: 2;
  opacity: 0;

  border-radius: 20px;
  transition: transform 0.35s cubic-bezier(0.05, 0.2, 0.1, 1),
    opacity 0.35s cubic-bezier(0.05, 0.2, 0.1, 1);
  transform: scale(0.5);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  /* الضروري لجعل التأثير مرئيًا */
  border: 12px solid rgba(255, 255, 255, 0.3); /* ظل داكن شفاف */
}

.row-about:hover .img-contact::after {
  opacity: 1;
  transform: scale(0.9);
}
.row-about img {
  transition: all 0.3s ease;
}
.row-about:hover img {
  transform: scale(0.93);
}

/* ######################################### */
/* contact us */

.contact-item {
  background: var(--background-color-filter);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--third-color);
}
.contact-form {
  background: var(--background-color-filter);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--third-color);
}
.contact-form input {
  background-color: transparent;
  color: var(--third-color);
  border: none;
  outline: none;
  position: relative;
}
.contact-form .input-wrapper {
  position: relative;
}

.contact-form .input-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--placeholder-color) !important;
  border-radius: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in;
}

.contact-form input:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  color: var(--third-color); /* يمكنك تغيير هذا حسب الحاجة */
  transition: all 0.3s ease-in;
}

.contact-form .input-wrapper:focus-within::before {
  height: 1.5px; /* زيادة سمك الخط عند التركيز */
  background-color: var(--third-color) !important; /* تغيير اللون عند التركيز */
  bottom: -5px;
}

.contact-form input::placeholder {
  color: var(--placeholder-color);
}

.contact-form textarea {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
.contact-form textarea:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
.contact-form textarea:focus::before {
  height: 3px; /* زيادة سمك الخط عند التركيز */
  background-color: var(--main-color); /* تغيير اللون عند التركيز */
}
.contact-form textarea::placeholder {
  color: var(--placeholder-color);
}
/*  */
.media-entry {
  background: rgba(180, 180, 180, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}
.media-entry > a {
  display: block;
  background-color: #000;
  height: 220px !important;
  object-fit: cover;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  overflow: hidden;
  border-radius: 10px;
}

.media-entry h3,
.media-entry .h3 {
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s all ease;
  cursor: pointer;
}
.media-entry h3 a,
.media-entry .h3 a {
  color: var(--third-color);
  transition: 0.3s all ease;
  cursor: pointer;
}
.media-entry h3 a:hover,
.media-entry .h3 a:hover {
  color: var(--fourth-color);
}

.media-entry .m-body {
  padding: 20px 20px 50px 20px;
}

.media-entry .date {
  font-size: 12px;
}

.more {
  color: var(--six-color);
  transition: 0.3s all ease;
  text-decoration: underline;
  font-weight: bold;
  font-size: 13px;
}

.more:hover {
  color: var(--fourth-color);
  transform: translateX(-10px);
  opacity: 1;
  visibility: visible;
}

.media-entry p {
  font-size: 14px;
  color: #cfcfcf;
  line-height: 1.8;
}
/* products */
.media-1 {
  position: relative;
  display: block;
  overflow: hidden;

  border-radius: 15px;
  background: var(--background-color-filter);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}

.media-1 img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
  display: block;
}
.media-1 img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  content: "";
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
}
.media-1 .media-1-content {
  padding: 15px 20px;
  text-align: center;
}
.media-1 .media-1-content h2,
.media-1 .media-1-content .h2 {
  position: relative;
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.media-1:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/*--------------------------------------------------------------
# Blog Details Section
--------------------------------------------------------------*/
.blog-details {
  padding-bottom: 30px;
  background: var(--background-color-filter);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
}

.blog-details .article {
  padding: 40px;
}

.blog-details .post-img {
  margin: -10px -30px 20px -30px;
  overflow: hidden;
}

.blog-details .title {
  color: var(--third-color);
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin: 30px 0;
}

.blog-details .content p {
  margin-top: 20px;
}

.blog-details .content blockquote {
  overflow: hidden;
  background-color: color-mix(in srgb, var(--default-color), transparent 95%);
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog-details .content blockquote p {
  color: var(--placeholder-color);
  line-height: 1.6;
  margin-bottom: 0;
  padding: 30px;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  background-color: var(--background-color-filter);
}

.blog-details .content blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--background-color-filter);
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog-details .content ol li {
  font-size: 15px;
}

.blog-details .meta-top {
  margin-top: 20px;
  color: color-mix(in srgb, var(--third-color), transparent 40%);
}

.blog-details .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog-details .meta-top ul li + li {
  padding-left: 20px;
}

.blog-details .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: color-mix(in srgb, var(--third-color), transparent 40%);
}

.blog-details .meta-top a {
  color: color-mix(in srgb, var(--third-color), transparent 40%);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog-details .meta-bottom {
  padding-top: 10px;
  border-top: 1px solid color-mix(in srgb, var(--third-color), transparent 90%);
}

.blog-details .meta-bottom i {
  color: color-mix(in srgb, var(--third-color), transparent 40%);
  display: inline;
}

.blog-details .meta-bottom a {
  color: color-mix(in srgb, var(--third-color), transparent 40%);
  transition: 0.3s;
}

.blog-details .meta-bottom a:hover {
  color: var(--accent-color);
}

.blog-details .meta-bottom .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog-details .meta-bottom .cats li {
  display: inline-block;
}

.blog-details .meta-bottom .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog-details .meta-bottom .tags li {
  display: inline-block;
}

.blog-details .meta-bottom .tags li + li::before {
  padding-right: 6px;
  color: var(--third-color);
  content: ",";
}

.blog-details .meta-bottom .share {
  font-size: 16px;
}

.blog-details .meta-bottom .share i {
  padding-left: 5px;
}
.recent-posts-widget {
  background: var(--background-color-filter);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 15px;
}
.recent-posts-widget .post-item {
  background: var(--background-color-filter);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
  display: flex;
  margin-bottom: 15px;
}

.recent-posts-widget .post-item:last-child {
  margin-bottom: 0;
}

.recent-posts-widget .post-item img {
  width: 90px;
  height: auto;
  object-fit: cover;
  border-radius: 0 15px 15px 0px;
}

.recent-posts-widget .post-item h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.recent-posts-widget .post-item h4 a {
  color: var(--third-color);
  transition: 0.3s;
}

.recent-posts-widget .post-item h4 a:hover {
  color: var(--accent-color);
}

.recent-posts-widget .post-item time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: color-mix(in srgb, var(--third-color), transparent 50%);
}
/* testimonials */
.testimonials .item img {
  transition: all 0.3s ease;
  cursor: pointer;
}
.testimonials .item img:hover {
  transform: scale(1.2);
}

/* Footer  */
footer {
  background: var(--background-color-filter);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
  overflow: hidden;
}
footer .widget-logo {
  width: fit-content;
}
footer .bg-logo {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  background-color: rgba(189, 189, 189, 0.445);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(50px);
  box-shadow: rgba(206, 205, 205, 0.25) 0px 50px 100px -20px,
    rgba(165, 165, 165, 0.3) 0px 30px 60px -30px;
}
footer .list-links-site li {
  transition: all 0.3s;
  cursor: pointer;
  width: fit-content;
}
footer .list-links-site li i {
  font-size: 15px;
  color: var(--fifth-color) !important;
}
footer .list-links-site li a {
  color: var(--placeholder-color);
}
footer .list-links-site li a:hover {
  color: var(--fifth-color) !important;
}
footer .list-links-site li:hover {
  color: var(--third-color);
  transform: translateX(-10px);
}

footer .widget-contact i {
  background-color: var(--fifth-color) !important;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
footer .social li a i:hover {
  color: var(--third-color) !important;
}
footer .widget-contact a {
  transition: all 0.5s ease-in-out;
}
footer .widget-contact a:hover {
  color: var(--third-color) !important;
}
